.btn-user {
  width: 200px;
  padding: 24px;
  background-color: rgba(127, 255, 212, 0.825);
  border-radius: 10px;
}

.form .form-group {
  margin: 1.2rem 0;
  width: 100%;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 90%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
