.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}

.nav-title {
  font-size: 48px;
  font-weight: 700;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin: 20px;
  font-size: 20px;
  font-weight: 500;
}
